build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.2/CMakeSystem.cmake
build/CMakeFiles/3.16.2/CompilerIdC/a.out
build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.2/CompilerIdCXX/a.out
build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Crop.dir/build.make
build/CMakeFiles/Crop.dir/cmake_clean.cmake
build/CMakeFiles/Crop.dir/CXX.includecache
build/CMakeFiles/Crop.dir/depend.internal
build/CMakeFiles/Crop.dir/depend.make
build/CMakeFiles/Crop.dir/DependInfo.cmake
build/CMakeFiles/Crop.dir/flags.make
build/CMakeFiles/Crop.dir/link.txt
build/CMakeFiles/Crop.dir/progress.make
build/CMakeFiles/Crop.dir/Crop_autogen/mocs_compilation.cpp.o
build/CMakeFiles/Crop.dir/home/gmatczak/genetic/repo/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/Crop.dir/src/mainNoVoice.cc.o
build/CMakeFiles/Crop_autogen.dir/AutogenInfo.json
build/CMakeFiles/Crop_autogen.dir/AutogenUsed.txt
build/CMakeFiles/Crop_autogen.dir/build.make
build/CMakeFiles/Crop_autogen.dir/cmake_clean.cmake
build/CMakeFiles/Crop_autogen.dir/depend.internal
build/CMakeFiles/Crop_autogen.dir/depend.make
build/CMakeFiles/Crop_autogen.dir/DependInfo.cmake
build/CMakeFiles/Crop_autogen.dir/ParseCache.txt
build/CMakeFiles/Crop_autogen.dir/progress.make
build/Crop_autogen/moc_predefs.h
build/Crop_autogen/mocs_compilation.cpp
build/bin/config.json
build/bin/Crop
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7d981d65a140d0060b0a.json
build/.cmake/api/v1/reply/codemodel-v2-82767fd6f9d08ec84616.json
build/.cmake/api/v1/reply/index-2020-02-28T16-25-19-0001.json
build/.cmake/api/v1/reply/target-ChangeResolution_autogen-Debug-29c962439a243b9157f0.json
build/.cmake/api/v1/reply/target-ChangeResolution-Debug-82036f465ee378439fd9.json
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ChangeResolution.dir/build.make
build/CMakeFiles/ChangeResolution.dir/cmake_clean.cmake
build/CMakeFiles/ChangeResolution.dir/CXX.includecache
build/CMakeFiles/ChangeResolution.dir/depend.internal
build/CMakeFiles/ChangeResolution.dir/depend.make
build/CMakeFiles/ChangeResolution.dir/DependInfo.cmake
build/CMakeFiles/ChangeResolution.dir/flags.make
build/CMakeFiles/ChangeResolution.dir/link.txt
build/CMakeFiles/ChangeResolution.dir/progress.make
build/CMakeFiles/ChangeResolution.dir/ChangeResolution_autogen/mocs_compilation.cpp.o
build/CMakeFiles/ChangeResolution.dir/home/gmatczak/genetic/repo/ConfigReader/src/configreader.cc.o
build/CMakeFiles/ChangeResolution.dir/home/gmatczak/genetic/repo/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/ChangeResolution.dir/src/changeresolution.cc.o
build/CMakeFiles/ChangeResolution_autogen.dir/AutogenInfo.json
build/CMakeFiles/ChangeResolution_autogen.dir/AutogenUsed.txt
build/CMakeFiles/ChangeResolution_autogen.dir/build.make
build/CMakeFiles/ChangeResolution_autogen.dir/cmake_clean.cmake
build/CMakeFiles/ChangeResolution_autogen.dir/depend.internal
build/CMakeFiles/ChangeResolution_autogen.dir/depend.make
build/CMakeFiles/ChangeResolution_autogen.dir/DependInfo.cmake
build/CMakeFiles/ChangeResolution_autogen.dir/ParseCache.txt
build/CMakeFiles/ChangeResolution_autogen.dir/progress.make
build/CMakeFiles/Crop.dir/src/main.cc.o
build/ChangeResolution_autogen/moc_predefs.h
build/ChangeResolution_autogen/mocs_compilation.cpp
build/CMakeFiles/Crop.dir/src/main.cc.o
build/bin/ChangeResolution
build/CMakeFiles/Crop.dir/src/main.cc.o
build/CMakeFiles/Crop.dir/src/main.cc.o
